<form action="/random/results">
  <label for="min"> Minimum </label>
  <input id="min" name="user_min" type="text" placeholder="i.e. -5"><br>

  <label for="max"> Maximum </label>
  <input id="max" name="user_max" type="text" placeholder="i.e. 150"><br>

  <button> Pick random number</button>
</form>
