<form action="/square_root/results">
<label for="user_number"> Enter a number </label>
<input id="user_number" name="user_number" type="text" placeholder="i.e. 93"><br>
<button> Calculate square root </button>
</form>
