<form action="/square/results">
<label for="user_num_id"> Enter a number </label><br>
<input id="user_num_id" name="user_number" type="text" placeholder="i.e. 27"><br>
<button> Calculate square </button>
</form>
