<form action="/square/results" method="post">
<label> Enter a number </label><br>
<input id="user_num" name="user_num" type="text" placeholder="i.e. 27"><br>
<button> Calculate square </button>
</form>
